html { 
    height: 100%;
}

body {
    background: #c1c1c1;
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    color      : #0000aa;
    cursor     : pointer;
}

li {
    white-space: nowrap;
}

div {
    border : 1px solid black;
    margin: 0;
}

#list_view {
    height: 500px;
    margin: auto;
}

li.hilight {
    background: #ffffff;
}

div.hidden_left {
    visible: false
}

div.hiddem_right {
    visible: false
}